* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecdebd;
}

/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #92C430;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
} */
/* .logo {
    font-weight: bold;
}
.nav-links {
    display: flex;
    gap: 15px;
}
.nav-links a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background: white;
}
.contact-info {
    display: flex;
    gap: 10px;
}
.contact-info a {
    text-decoration: none;
    color: black;
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.nav-container {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background: #92C430;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
    z-index: 999;
}
.nav-container.active {
    display: flex;
}
.nav-container .nav-links,
.nav-container .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
} */
/* @media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .nav-links, .contact-info {
        display: none;
    }
} */



/* Navbar & Navmenu color */
:root {
    --background-navbar: rgba(55, 55, 55, 0.98);
  }
  
  .header {
    background: var(--background-navbar);
    position: fixed;
    width: 100%;
    height: 52px;
  }
  
  /* Nav items */
  .menu {
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 52px;
    padding: 0 0 10px 0;
    clear: both;
    background: var(--background-navbar);
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
  }
  
  /* Hamburger menu button */
  .menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  /* Hamburger menbu text */
  .menu a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ddd;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 15px 0;
    margin: 0 54px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu-btn:checked ~ .menu a,
  .menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }
  
  .menu-btn {
    display: none;
  }
  
  .menu-icon {
    display: inline-block;
    position: absolute;
    right: 14px; /* 右端に移動 */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 24px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .navicon {
    background: #ddd;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before,
  .navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before {
    top: 9px;
  }
  
  .navicon:after {
    bottom: 9px;
  }
  
  /* Hamburger Menu Animation Start */
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  /* Hamburger Menu Animation End */
  
  /* Navbar Container */
  .navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Navbar Text */
  .navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
  }
  /* @media screen and (min-width: 769px) {
    
  }
  @media (max-width: 768px) {
    .header {
        display: block;
    }
    .logo, .nav-icon, .contact-info, .nav-links{
        display: none;
    }
    header {
        background-color: #00000000;
    }
} */



/* スライドショー */
.header_img {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    z-index: -1;
}

.slick-slider {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
}

.slick-slider div {
    min-width: 100%;
    box-sizing: border-box;
}

.slick-slider img {
    width: 100%;
    height: auto;
}


/* 私たちについて */
.about {
    position: relative;
    z-index: -1;
    padding: 75px 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    margin: 5% 0;
}
.sp_br {
    display: none;
}

/* 企業情報 */
.company_wrap {
    text-align: center;
    margin: 5% 0;
}
.company_wrap h2 {
    font-size: 40px;
}
.company_wrap p {
    font-size: 20px;
}
/* 企業情報ボタン */
.company-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #302ade;
    border: 2px solid #fff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-top: 20px;
}

.company-button:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}


/* ↓WTSの取り組みについて */
.about_attempt {
    text-align: center;
    margin: 10% 0;
}
.about_attempt h2 {
    font-size: 40px;
}
.about_attempt-tex p {
    font-size: 20px;
}
.about_attempt hr {
    width: 10%;
    margin: 10px auto;
}
/* ↓flexboxについて */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.container_btn_tex p {
    font-size: 30px;
    margin: 3%;
}
.about_attempt a {

    /* border: 1px solid #000; */
    border-radius: 5px;
}

.business-item {
    width: calc(33% - 40px);
    text-align: center;
}
.business-item img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}
.business-item p {
    margin-top: 15px;
    font-size: 18px;
}
@media (max-width: 600px) {
    .business-item {
        width: 100%;
    }
}



.about-thought-wrap {
    margin: 5% 0;
    text-align: center;
}
.about-thought-wrap h2 {
    font-size: 40px;
}
.about-thought-wrap p {
    font-size: 20px;
}

.about_thought_tex hr {
    width: 10%;
    margin: 10px auto;
}
.about_thought {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    overflow: hidden;
}
.thought-item {
    font-size: 24px;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 3s ease-out, transform 3s ease-out;
    text-align: center;
    margin-bottom: 40px;
    z-index: -1;
    padding: 0 10%;
}
.sp_br {
    display: none;
}
.thought-item:nth-child(1) {
    align-self: flex-start;
}
.thought-item:nth-child(2) {
    align-self: center;
}
.thought-item:nth-child(3) {
    align-self: flex-end;
}
.thought-item.show {
    opacity: 1;
    transform: translateX(0);
}

/* メッセージ */
.about-message-wrap {
    margin: 5% 0;
    text-align: center;
}
.about-message-ttl h2 {
    font-size: 40px;
}
.about-message-ttl p {
    font-size: 20px;
}
.about-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}
.about-item {
    width: calc(50% - 40px);
    text-align: center;
}
.about-item img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}




/* お問い合わせ */

.contact-page {
    text-align: center;
    background-image: url(../image/お問い合わせ背景.png);
    background-size: cover;
    color: #fff;
    padding: 2%;
}

.contact-page-top {
    padding: 20px;
}
.contact-page-top h2 {
    font-size: 40px;
}
.contact-page-top p {
    font-size: 20px;
}
.contact_flex {
    display: flex;
    justify-content: center;
    gap: 15%;
    margin: 20px 0;
    font-size: 20px;
}
.contact_flex h3 {
    width: 100%;
}
.contact_flex1 a{
    text-decoration: none;
    color: #fff;
    padding: 2%;
}
.contact_flex2 {
    text-align: center;
}


/* お問い合わせボタン */
.contact-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #fff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
    background-color: #fff;
    color: #3ddcaa;
}


/* ↓お問い合わせフォーム */
/* .c-form {
	max-width: 50%;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 90%;
    text-align: center;
}
.c-form__input {
	width: 90%;
	font-size: 16px;
	border: solid 1px #333;
	border-radius: 4px;
}
.c-form__input:focus-visible {
	outline: green auto 1px;
}
.c-form__required {
	color: #fff;
	background-color: green;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
}
.c-form__submit {
	text-align: center;
}
.c-form__submit button {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: green;
	border: solid 1px green;
	border-radius: 4px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
}
.c-form__submit button:hover {
	color: green;
	background-color: transparent;
}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 40%;
	}
	.c-form__input {
		width: 55%;
	}
} */

/* レスポンシブデザインのためのCSS */
@media (max-width: 768px) {
    .sp_br {
        display: none;
    }
    .about {
        font-size: 1rem;
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
    }
}
@media (max-width: 500px) {
    .header_img {
        height: 50vh;
    }
    .header-text {
        font-size: 20px;
    }
    .about_attempt-tex p {
        font-size: 15px;
        margin: 0 5%;
    }
    .container_btn_tex p {
        font-size: 15px;
    }
    .container_btn_tex a {
        padding: 10px;
    }
    .about_thought {
        margin: 10% 0;;
    }
    .thought-item:nth-child(1) {
        align-self: center;
    }
    .thought-item:nth-child(2) {
        align-self: center;
    }
    .thought-item:nth-child(3) {
        align-self: center;
    }
    .c-form {
        max-width: 80%;
    }
}
@media (max-width: 768px) {
    
}
@media (max-width: 768px) {
    
}
